discord.py==2.3.2
python-dotenv==1.0.1
requests==2.31.0
psutil==5.9.8
groq==0.18.0
pygame==2.5.2
PyAudio==0.2.14
numpy==1.26.4
# openwakeword installed manually in deploy.sh to avoid onnxruntime
# tflite-runtime installed manually in deploy.sh
scipy==1.13.0
tqdm==4.66.2
scikit-learn==1.3.2
edge-tts==6.1.10
soundfile==0.12.1
